extends base

block content
    if errorMessage
        span=errorMessage

    form(method="POST")
        input(name="name", placeholder="name", required, type="text")
        input(name="email", placeholder="email", required, type="email")
        input(name="username", placeholder="username", required, type="text")
        input(name="password", placeholder="password", required, type="password")
        input(name="password2", placeholder="password check", required, type="password")
        input(name="location", placeholder="location", required, type="text")
        input(type="submit", value="Join")
        include partials/social_login  
    div.auth_switch
        span Already have an account?
        a(href="/login")    Log in now &rarr;