extends ../base

block content
 if errorMessage
    span=errorMessage
 form(method="post")
    input(placeholder="Old Password",type="password", name="oldp")
    input(placeholder="New Password",type="password", name="newp")
    input(placeholder="New Password Check",type="password", name="newcheck")
    input(value="Change", type="submit")